<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap.min.css")
    @Styles.Render("~/Content/mobile.version.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/respond.min.js")


    <style type="text/css">
        .Record {
            float: left;
            width: 100%;
            margin-bottom: 10px;
        }

        .Column1, .Column2 {
            float: left;
            width: 255px;
        }

        .Column2 {
            width: 60%;
        }
        .form-signin {
            max-width: 300px;
            padding: 19px 29px 29px;
            margin: 0 auto 20px;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
        }

            .form-signin .form-signin-heading, .form-signin .checkbox {
                margin-bottom: 10px;
            }

            .form-signin input[type="text"], .form-signin input[type="password"] {
                font-size: 16px;
                height: auto;
                margin-bottom: 15px;
                padding: 7px 9px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                @*<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>*@
                <div class="nav-collapse">
                    <ul class="nav" style="width:100%;">
                        <li><a id="projectTitle" href="#">Disease Solution</a> </li>
                        @if (Session["DocName"] != null)
                        {
                            
                            <li style="float: right;">
                                @Html.ActionLink("Logout", "Logout", "Home")
                            </li>
                            <li style="float: right; margin-top:10px;">
                                Welcome, @Session["DocName"].ToString().ToUpper()
                            </li>
                        }
                        else
                        {
                            <li style="float: right;">
                                @Html.ActionLink("Login", "Login", "Home")
                            </li>
                            <li style="float:right;">
                                @Html.ActionLink("Register", "Registration", "Home")
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="container1" style="margin-top: 50px">
        @RenderBody()
    </div>

</body>
</html>
